nav{
    background-color: antiquewhite;
    height: 50px;
}
nav .nav-item{
    font-size: 25px;
    line-height: 42px;
    /* font-weight: bold; */
    /* text-decoration: none; */
    margin-right: 10px;
}

.nav-item{
    text-decoration: none;
}